* {
    background-color: rgb(20, 20, 20);
    color: white;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: white;
}

nav {
    background-color: rgb(255, 193, 7);
    color: black;
}

nav>* {
    background-color: rgb(255, 193, 7);
    color: black;
    padding: 0px 20px;
}

th,
td {
    padding: 5px;
}