{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login d-flex align-content-center flex-wrap flex-column align-items-center justify-content-center" style="height: 100vh;">
    <h1 class="pb-4">Formulir Registrasi</h1> 

    <form method="POST" >  
        {% csrf_token %}  
        <table>  
            {{ form.as_table }}    
        </table> 
        
        <div class="d-grid py-3">
            <input type="submit" name="submit" value="Daftar" class="btn login_btn btn-outline-warning col-4 mx-auto"/></td>  
        </div>
    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
            {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}