{% extends 'base.html' %}

{% block content %}
<nav class="navbar">
    <h5>{{nama}}</h5>

    <!-- Handle logout -->
    <button style="border: none;"><a class="btn btn-dark" href="{% url 'wishlist:logout' %}">Logout</a></button>
</nav>

<table class="table table-dark table-hover" style="height:200px; margin:0 auto;">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <td>{{barang.nama_barang}}</td>
        <td>{{barang.harga_barang}}</td>
        <td>{{barang.deskripsi}}</td>
    </tr>
    {% endfor %}
</table>

<!-- Sesi terakhir dilihat dari cookies -->
<p class="text-center p-4">Sesi terakhir login: {{ last_login }}</p>

{% endblock content %}